<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.leocoder.picture.mapper.LikeMapper">
    <resultMap id="BaseResultMap" type="org.leocoder.picture.domain.Like">
        <!--@mbg.generated-->
        <!--@Table user_like-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="picture_id" jdbcType="BIGINT" property="pictureId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        user_id,
        picture_id,
        create_time
    </sql>


    <select id="findByUserIdAndPictureId" resultType="org.leocoder.picture.domain.Like">
        select * from
            user_like
        where
            user_id = #{userId}
            and picture_id = #{pictureId}
    </select>

    <delete id="deleteByUserIdAndPictureId">
        DELETE
        FROM user_like
        WHERE user_id = #{userId}
          AND picture_id = #{pictureId}
    </delete>
</mapper>